
dialog:modal {
    width: 600px;
    display: block;
    margin: auto;
    background-color: $white;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    z-index: 5;
    position: absolute;
    h3 {
        color: #333645;
        font-size: 26px;
        line-height: 1.42857143;
        font-weight: 400;
    }
    p {
        color: #666;
        font-size: 16px;
        line-height: 1.875rem;
        font-weight: 400;
        margin-bottom: 25px;
    }
    .modal-header {
        padding: 15px 20px;
        border-bottom: 1px solid #e5e5e5;
    }
    .modal-body {
        padding: 20px;
    }
    .modal-footer {
        padding: 19px 20px 20px;
        border-top: 1px solid #e5e5e5;
    }
    button {
        line-height: 35px;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 1.063rem;
        border-radius: 3px;
        white-space: normal;
        color: #fff;
        border-style: none;
        display: inline;
        width: 47%;
        outline: 0;
    }
    #modal-set-but {
        background-color: #999aa2;
        border-color: #999aa2;
        margin-right: 25px;
    }
    #modal-set-but:hover {
        background-color: #84858f;
        border-color: #797a85;
    }
    #modal-comf-but {
        background-color: #926fb1;
        border-color: #926fb1;
    }
    #modal-comf-but:hover {
        background-color: #7e57a0;
        border-color: #735093;
    }
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.70);
  }
