.close-sidebar-overlay{
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: calc(100% - 350px);
    height: 100%;
    border: 0px;
    display: none;
    background-color: black;
    opacity: 0.4;
    animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.4; }
}

@keyframes fadeout {
    from { opacity: 0.4; }
    to   { opacity: 0; }
}

#sidebar-inner-id {
    height: 100%; /* 100% Full-height */
    width: 350px; 
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0;
    right: -350px;  /* Changed with Javascript to show the sidebar */
    background-color: #333645; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; 
    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
    }

    .sidebar-menu-group:hover{
        .sidebar-title{
            background-color: #3d404e;
        }
    }

    .xs-sidebar {
        padding: 21px;
    }

    .sidebar-contact-title {
        padding: 19px 0 18px;
        text-align: center;
        display: block;
        font-size: 18px;
        outline: 1px solid rgba(0,0,0,.25);
        border: 1px solid hsla(0,0%,100%,.1);
    }

    .sidebar-contact-title:hover {
        background-color: #3d404e;
    }
    

    .service-title {
        padding: 19px 0 18px;
        display: block;
        text-align: center;
        margin-bottom: 20px;
        outline: 1px solid rgba(0,0,0,.25);
        border: 1px solid hsla(0,0%,100%,.1);
    }

    .sidebar-menu-services {
        padding: 20px 0 0;
        a {
            font-size: 18px;
            line-height: 1.2;
        }
    }

    .sidebar-menu-services:hover {
        .service-title {
            background-color: #3d404e;
        }
    }

    .sidebar-service-items {
        a {
            display: block;
            text-align: center;
            background-color: rgba(0,0,0,.25);
            padding: 10px;
            outline: 1px solid rgba(0,0,0,.25);
            border: 1px solid hsla(0,0%,100%,.01);
            font-size: 16px;
        }
    }

    .sidebar-title {
        padding: 15px 20px;
        display: block;
        outline: 1px solid rgba(0,0,0,.25);
        border: 1px solid hsla(0,0%,100%,.01);
    }
    .sidebar-menu-items {
        li {
        background-color: rgba(0,0,0,.25);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;
        }
        a {
            display: block;
            font-size: 14px;
            padding: 15px 20px;
        }
    }
}