/*! Slider */

.slider-container {
    display: flex;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 50px;
    gap: 100px;
    object-fit:fill;
    overflow: hidden;
    img {
        filter: grayscale(1);
    }

    img:hover {
        filter: grayscale(0);
    }
}