/*! Welcome */

.welcome-container {
    background-color: $off-black;
    height: 605.6px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    button {
        cursor: pointer;
        height: 55px;
        font-size: 20px;
        color: $white;
        border: 1px solid transparent;
        border-radius: 6px;
    }

    #welc-box {
        width: 580px;
    }

    h2 {
        color: $white;
        font-size: 2.25rem;
        font-weight: 600;
    }

    p {
        font-size: 1rem;
        line-height: 1.875rem;
        font-weight: 300;
    }

    .fa-star {
        font-size: 3rem;
    }

    .welc-box-2 {
        p {
            font-size: 20.8px;
            font-weight: 600;
        }
    }

    #welc-quote {
        font-weight: 600;
        color: #a3a8ac;
        font-size: 17.6px;
    }

    a {
        color: $white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .welc-read-but {
        width: 202.75px;
        background-color: #272936;
    }

    .welc-read-but:hover {
        background-color: #121318;
    }

    .welc-goog-but {
        width: 263.188px;
        margin-right: 7px;
        margin-bottom: 20px;
        background-color: #4387f6;
    }

    .welc-goog-but:hover {
        background-color: #166af4;
    }

    .welc-trust-but {
        width: 294.05px;
        margin-bottom: 50px;
        background-color: #00b67b;
    }

    .welc-trust-but:hover {
        background-color: #009b69;
    }
    
}