/*! Header */

.header-block-1 {
    display: block;
    height: auto;
    width: auto;
}

#header-img {
    display: block;
    max-height: 75%;
    max-width: 100%;
    z-index: 50;
}

body {
    padding-top: 170px;
}

.main-header {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    position: fixed;
    height: 110px;
    top: 0;
    transition: top 0.2s ease-in-out;
    background-color: white;
    z-index: 30;
    width: 100%;
    button {
        display: inline-block;
        height: 56px;
        border-radius: 3px;
        font-weight: 400;
    }
}


.header-block-2 {
    margin-left: 0;
    justify-content: center;
    min-width: 150.68px;
}


#support-btn {
    color: $white;
    font-size: 18px;
    width: 141.6px;
    padding: 5 15px;
    margin-left:80px;
    border: 1px solid transparent;
    background-color: $style-it;
    text-transform: uppercase;
}

#contact-btn {
    color: $white;
    font-size: 18px;
    width: 149.413px;
    padding: 5 15px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid transparent;
    background-color: #999aa2;
    text-transform: uppercase;
}

#query {
    color: #555;
    display: inline-block;
    height: 56px;
    width: 240px;
    padding: 5px 15px;
    transform: translateY(-2px);
    border: 1px solid #ccc;
}

#form-2-main-cont {
    position: fixed;
    height: 80px;
    z-index: 40;
    width: 100%;
    top: 80px;
    transition: top 0.2s ease-in-out;
    background-color: $white;
    
}

.form2-cont {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: -4px;
    position: relative;
    background-color: $white;
    z-index: 60;

    .fa-magnifying-glass {
        position: absolute;
        right: 10px;
        top: 13px;
        cursor: pointer;
        font-weight: 600;
        font-size: 1.3rem;
        color: black;
    
    }
}

#query2 {
    display: inline-block;
    height: 47px;
    width: 100%;
    padding-left: 15px;
    padding-right: 40px;
    outline: 1px solid hsla(0,0%,100%,.2);
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    background-color: rgba(0,0,0,.1);
    color: #555;
    z-index: 10;
}

.q2-but {
    float: right;
    border: 0px solid transparent;
    background-color: transparent;
}

#form {
    width:240px;
    
}

#search-btn {
    font-size: 18px;
    width: 63px;
    padding: 7px 20px;
    margin-left: -5px;
    margin-right: 15px;
    border: 0px solid transparent;
    background-color: #999aa2;
}

#telephone-btn {
    font-size: 23px;
    width: 63px;
    padding: 5px 15px;
    margin-left: 20px;
    background-color: transparent;
    border: 0px solid transparent;
}

// #menu-btn {
//     font-size: 23px;
//     width: 63px;
//     padding: 5 15px;
//     border: 0px solid transparent;
//     background-color: $off-black;
// }


#support-btn:hover, #contact-btn:hover, #search-btn:hover, #telephone-btn:hover, #menu-btn:hover {
    filter: brightness(90%)
}

#query:focus {
    border-color: #5bc0de;
    outline: 0;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(91 192 222 / 60%);
}

#query2:focus {
    box-shadow: inset 0 0px 0px rgb(0 0 0 / 8%);
}

