/*! Our Services */

.serv-container {

    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1440px;
    margin: 0 auto;

    .serv-header {
        text-align: left;
        font-weight: 600;
        font-size: 2.7rem;
        width: 1164px;
        display: flex;
        justify-content: space-between;
        .service-link {
            font-size: 26px;
            text-decoration: none;
            color: $off-black;
            transform: translateY(12px);
            .fa-arrow-right {
                color: $off-black;
            }
        }
        a:hover {
            text-decoration: underline;
        }
        a:visited {
            color: $off-black;
        }
    }

    h2 {
        font-size: 1.3rem;
        font-weight: 400;
    }

    p {
        font-size: 0.8125rem;
        font-weight: 400;
        color:$off-black;
    }

    a {
        text-decoration: none;
    }

    .serv-title {
        margin-top: -15px;
        margin-bottom: 15px;

    }

    .serv-text {
        height: 150px;
        margin-bottom: -65px;
        margin-left: 30px;
        margin-right: 30px;
        line-height: 1.375rem;
    }

    #serv-icon-1, #serv-icon-2, #serv-icon-3, #serv-icon-4, #serv-icon-5, #serv-icon-6, #serv-icon-7 {
        line-height: 120px;
    }



    #serv-icon-1, #serv-icon-2, #serv-icon-3, #serv-icon-4, #serv-icon-5, #serv-icon-6, #serv-icon-7 {
        color: $white;
        width: 65px;
        font-size: 0.6em;
        vertical-align: 5px;
    }

    .icon-1-span {
        background-color: $style-bes;
        border-radius: 50%;
        font-size: 2.9em;
    }

    .icon-2-span {
        background-color: $style-it;
        border-radius: 50%;
        font-size: 2.9em;
    }

    .icon-3-span {
        background-color: $style-dig;
        border-radius: 50%;
        font-size: 2.9em;
    }

    .icon-4-span {
        background-color: $style-tel;
        border-radius: 50%;
        font-size: 2.9em;
    }

    .icon-5-span {
        background-color: $style-web;
        border-radius: 50%;
        font-size: 2.9em;
    }

    .icon-6-span {
        background-color: $style-cyb;
        border-radius: 50%;
        font-size: 2.9em;
    }

    .icon-7-span {
        background-color: $style-dev;
        border-radius: 50%;
        font-size: 2.9em;
    }

    #serv-block-1, #serv-block-2, #serv-block-3 {
        display: block;
        width: 370px;
        height: 314.73px;
    }

    #serv-block-4, #serv-block-5, #serv-block-6, #serv-block-7 {
        display: block;
        width: 270px;
        height: 313.88px;
    }

    .serv-block {
        border: 1px solid #ccc;
        border-radius: 15px;
        box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
        transition: transform .5s ease, background-color .5s ease;
        cursor: pointer;
    }

    .serv-block:hover {
        p {
            color: $white;
        }
        h2 {
            color:$white;
        }
        #serv-icon-circle-1, #serv-icon-circle-2, #serv-icon-circle-3, #serv-icon-circle-4, #serv-icon-circle-5, #serv-icon-circle-6, #serv-icon-circle-7 {
            background-color:$white;
        }
        transform: translateY(-10px);
        border-color: transparent;
    }   

    #serv-block-1:hover {
        background-color: $style-bes;
        #block-1-but {
            background-color: $white;
            color: $style-bes; 
        }
        #serv-icon-1 {
            color:$style-bes;
        }
    }

    #serv-block-2:hover {
        background-color: $style-it;
        #block-2-but {
            background-color: $white;
            color: $style-it; 
        }
        #serv-icon-2 {
            color:$style-it;
        }
    }

    #serv-block-3:hover {
        background-color: $style-dig;
        #block-3-but {
            background-color: $white;
            color: $style-dig; 
        }
        #serv-icon-3 {
            color:$style-dig;
        }
    }

    #serv-block-4:hover {
        background-color: $style-tel;
        #block-4-but {
            background-color: $white;
            color: $style-tel; 
        }
        #serv-icon-4 {
            color:$style-tel;
        }
    }

    #serv-block-5:hover {
        background-color: $style-web;
        #block-5-but {
            background-color: $white;
            color: $style-web; 
        }
        #serv-icon-5 {
            color:$style-web;
        }
    }

    #serv-block-6:hover {
        background-color: $style-cyb;
        #block-6-but {
            background-color: $white;
            color: $style-cyb; 
        }
        #serv-icon-6 {
            color:$style-cyb;
        }
    }

    #serv-block-7:hover {
        background-color: $style-dev;
        #block-7-but {
            background-color: $white;
            color: $style-dev; 
        }
        #serv-icon-7 {
            color:$style-dev;
        }
    }

    .serv-but {
        height:auto;
        line-height: 35px;
        font-size: 1.063rem;
        padding: 5px 15px;
        color: $white;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    #block-1-but {
        background-color: $style-bes;
    }

    #block-2-but {
        background-color: $style-it;
    }

    #block-3-but {
        background-color: $style-dig;
    }

    #block-4-but {
        background-color: $style-tel;
    }

    #block-5-but {
        background-color: $style-web;
    }

    #block-6-but {
        background-color: $style-cyb;
    }

    #block-7-but {
        background-color: $style-dev;
    }

}