/*! Parial Imports */

@import "variables",
        "header",
        "navigation",
        "hero",
        "services",
        "slider",
        "welcome",
        "news",
        "banner",
        "newsletter",
        "footer",
        "fawesome",
        "mediaqueries",
        "sidebar",
        "modal";

/*! Overarching Display Properties*/

* { 
    font-family: Poppins,sans-serif;
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
    letter-spacing: .4px;
}

.body {
    font-size: 1rem;
    letter-spacing: 0.4px;
    overflow-x: hidden;
}

#body-id {
    transition: all 0.5s;
}

button {
    cursor: pointer;
}

/*! Overarching Text Properties */

h1 {
    color: $white;
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    color: $off-black;
    font-size: 2.7rem;
    font-weight: 600;
}

p {
    color: $white;
    font-size: 1.625rem;
    font-weight: 600;
}

strong {
    font-weight: 600;
}























  